body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  line-height: 1.9em;
  background: url("../images/shave-feature-2.jpg") center center fixed;
  background-size: cover;
}

.top {
  height: 250px;
  line-height: 150px;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  /*background: url("../images/debut_dark.png") fixed;*/
  color: #eee;
}

.top i {
  color: #cb4444;
}

#logo {
  width: 250px;
  display: block;
  margin: 35px auto 0 auto;
}

.main {
  padding: 100px 0;
  background: #eee;
  /*background: url("../images/white-brick2.jpg") center center;
  background-size: cover;*/
}

.time {
  background: #135468;
  margin: 0 20px;
  color: #eee;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 70px;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 5px;
  padding: 0 15px;
}

.time span {
  font-family: 'Open Sans', sans-serif;
  display: block;
  letter-spacing: 0.03em;
  font-size: 0.55em;
  line-height: 70px;
  float: right;
}

.opening-times {
  padding-bottom: 50px;
  background: #272420;
  margin-bottom: 500px;
}

.opening-times h1 {
  color: #eee;
  font-size: 3em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  margin: 50px 0 50px 0;
}

.moustache {
  display: block;
  margin: 0 auto 50px auto;
  background-image: url("../images/moustache.svg");
  background-repeat: no-repeat;
  height: 36px;
  width: 100px;
}

.time.today {
  background-color: #cb4444;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .opening-times {
    background: url("../images/equipment-dark.jpg") center center fixed;
    background-color: transparent;
    padding: 0 0 100px 0;
  }

  .opening-times h1 {
    color: #eee;
    font-size: 3em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    margin: 100px 0 50px 0;
  }

  .time {
    width: 97px;
    height: 97px;
    float: left;
    background: #135468;
    margin: 0 5px;
    color: #eee;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 73px;
    font-family: 'Oswald', sans-serif;
    padding: 0;
  }

  .time span {
    font-family: 'Open Sans', sans-serif;
    display: block;
    letter-spacing: 0.03em;
    font-size: 0.55em;
    line-height: 0px;
    float: none;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .opening-times {
    padding: 0 0 100px 0;
  }
  .time {
    margin: 0 7px;
    line-height: 85px;
    width: 124px;
    height: 124px;
  }
  .time span {
    font-size: 0.6em;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .opening-times {
    padding: 0 0 120px 0;
  }
  .time {
    margin: 0 10px;
    line-height: 105px;
    width: 147px;
    height: 147px;
  }
}
